html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
}

.bg-img {
  background-image: url("../images/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
  min-width: 100%;
}

.container {
  padding: 60px 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container h1 {
  font-size: 32px;
  color: #f1cdb3;
}

.container .title p {
  color: #fff;
}

.container h2 {
  font-size: 44px;
  color: #ffffff;
  line-height: 57px;
}

.container p {
  font-size: 13px;
  margin-top: 10px;
  color: #f1cdb3;
  font-family: Arial, Helvetica, sans-serif;
}

.container .nav {
  font-size: 13px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: normal;
      align-self: normal;
}

.container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.container ul li {
  margin-right: 40px;
}

.container ul li a {
  color: #ffffff;
  text-decoration: none;
}

.container ul li a:hover {
  border-bottom: 3px solid #f1cdb3;
  border-radius: 2px;
  cursor: pointer;
}

.container ul :last-child {
  margin-right: 0px;
}

.container .info {
  width: 30%;
  margin-top: 250px;
}

.container .info p {
  font-size: 15px;
  margin-top: 45px;
  line-height: 24px;
}

.container .info button {
  margin-top: 45px;
  margin-bottom: 270px;
  background-color: #f1cdb3;
  color: #292929;
  border: none;
  width: 210px;
  height: 52px;
  border-radius: 30px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 25%;
  background-color: #fafafa;
  color: #545454;
}

@media (min-width: 900px) and (max-width: 1700px) {
  .about {
    padding: 90px 15%;
  }
}

@media screen and (max-width: 600px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 90px 2%;
  }
}

.about .pets-img {
  margin-right: 12%;
}

.about h3 {
  font-size: 35px;
  max-width: 70%;
  line-height: 45px;
}

.about p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  margin-top: 40px;
}

.gallery {
  background-color: #f6f6f6;
}

.gallery .arrow-left, .gallery .arrow-right {
  border: 3px solid #f1cdb3;
  padding: 15px;
  border-radius: 30px;
}

.gallery .arrow-left:hover, .gallery .arrow-right:hover {
  background-color: #f1cdb3;
}

.gallery .arrow-left {
  margin-right: 70px;
}

@media (min-width: 900px) and (max-width: 1800px) {
  .gallery .arrow-left {
    margin-right: 35px;
  }
}

.gallery .arrow-right {
  margin-left: 70px;
}

@media (min-width: 900px) and (max-width: 1800px) {
  .gallery .arrow-right {
    margin-left: 35px;
  }
}

.gallery .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 300px) and (max-width: 640px) {
  .gallery .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery .cards p, .gallery .cards .learn-more {
  text-align: center;
}

.gallery .cards .card {
  background-color: #fafafa;
  padding: 30px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.gallery .cards .card:nth-child(3) {
  margin: 0 50px;
}

@media (min-width: 900px) and (max-width: 1800px) {
  .gallery .cards .card {
    padding: 15px 20px;
  }
}

.gallery .cards button {
  border: none;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #292929;
  background-color: #fafafa;
  border: 3px solid #f1cdb3;
  width: 190px;
  height: 50px;
  border-radius: 30px;
  margin: 20px 0;
}

.gallery .cards button:hover {
  background-color: #f1cdb3;
  cursor: pointer;
}

.gallery .get-rest {
  text-align: center;
  padding: 65px 0;
}

.gallery .get-rest button {
  background-color: #f1cdb3;
  color: #292929;
  border: none;
  width: 190px;
  height: 50px;
  border-radius: 30px;
}

h4, h5 {
  font-size: 35px;
  text-align: center;
  color: #545454;
  padding: 60px 0;
}

.help {
  background-color: #fefefe;
}

.help .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  margin-bottom: 85px;
}

.help .row .help-element {
  margin-right: 100px;
}

.help .row .help-element:last-child {
  margin-right: 0;
}

.help .row .help-element p {
  margin-top: 25px;
  font-size: 20px;
  font-family: Georgia;
  color: #545454;
}

.donation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 19%;
  background-color: #fafafa;
  color: #545454;
}

@media (min-width: 900px) and (max-width: 1800px) {
  .donation {
    padding: 80px 9%;
  }
}

.donation .pets-img {
  margin-right: 12%;
}

.donation h3 {
  font-size: 35px;
  max-width: 70%;
  line-height: 45px;
}

.donation p {
  font-family: Arial;
  line-height: 12px;
  margin-top: 30px;
  line-height: 18px;
}

.donation .additional-info {
  font-style: italic;
  color: #b2b2b2;
}

.donation .card-number {
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 13px;
}

.donation .card-number button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1cdb3;
  border: none;
  padding: 13px;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation .card-number img {
  margin-right: 13px;
}

footer {
  background-image: url("../images/contacts.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer h6 {
  font-size: 35px;
  color: #ffffff;
}

footer .column {
  padding-top: 80px;
}

footer .column:first-child {
  padding-left: 19%;
  padding-right: 8%;
}

footer .email, footer .phone, footer .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .email img, footer .phone img, footer .address img {
  margin-right: 15px;
}

footer p {
  color: #f1cdb3;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
/*# sourceMappingURL=styles.css.map */